
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(82, 1, 16);
}

.digit {
    background-color: rgb(16, 1, 82);
    height: 75px;
    width: 75px;
    border-radius: 6px;
    padding: 5px;
    margin: 3px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#simpleCounter {
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: rgb(242, 242, 242);
    padding: 20px;
}